<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainwii.zsyy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 手机挂号 start-->
        <activity
            android:name=".activity.RegisterMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterFacultyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.RegisterPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterDoctorScheduleActivity"
            android:screenOrientation="portrait" />
        <!-- 手机挂号 end-->

        <!-- 排队叫号 start-->
        <activity
            android:name=".activity.CallMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 排队叫号 end-->

        <activity
            android:name=".activity.HomeModule3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeModule4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeModule5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeModule6Activity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
